body {
  background: black;
  text-align: center;
  color: seashell;
  font-size: 22px;
  font-family: Helvetica;
}

div {

}

.header {
  height: 69px;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  border-bottom: 1px solid seashell;

}

.logo {
  padding-left: 10px;
  justify-content: flex-start;

}

img {
  height: 50px;
}

 nav {
   text-align: right;
   flex-grow: 1;
   padding-right: 15px;

 }

nav span {

  display: inline-block;
  padding: 20px 5px;
  flex-grow: 1;
}

a {
  color: seashell;
}
