body {
  background: black;
  text-align: center;
  color: seashell;
  font-size: 22px;
  font-family: Helvetica;
  margin: 0;
}

div {

}

.header {
  height: 69px;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  border-bottom: 1px solid seashell;
  background: black;

}

.logo {
  padding-left: 10px;
  justify-content: flex-start;

}

img {
  height: 50px;
}

 nav {
   text-align: right;
   flex-grow: 1;
   padding-right: 15px;

 }

nav span {

  display: inline-block;
  padding: 20px 5px;
}

a {
  color: seashell;
}

.first.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.first.section .image.content {
  height: 700px;
  width: 1200px;
  background-image: url("../images/img-mission-background.jpg");
  justify-content: center;

}

.headline {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: black;
  display: inline-block;
}

h1, h2 {

}
