body {
  text-align: center;
  font-family: Helvetica;
  font-weight: bold;
}

.menu, #breaker{

  background-image: url(https://mayha.github.io/Broadway/resources/photos/background.png);

}

h1 {

  font-size: 70px;
}

a {
  font-size: 18px;
}

h1, a, #breaker, #copy{

  color:  white;
}

h2 {

  font-size: 32px;

}

h3 {
  font-size: 23px;
}


p {
  font-weight: normal;
}

.footer {
  background: dimgray;
  font-size: 11px;
  text-align: left;
}
