


.header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  position: fixed;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid;
  padding-bottom: 10px;
  z-index: 1;
  background: white;
  height: 80px;


}

div {
  border: 1px solid black;
}

.logo {
  display: flex;
  align-items: center;
  color: MediumAquamarine;
  padding-left: 30px;
  flex-grow: 1;
}

.logo span {
  padding-left: 10px;
}

.header nav {
  padding-right: 40px;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

a {
  color: black;
}

.content {
  display: flex;
  padding-top: 116px;
  justify-content: space-between;
  width: 1232px;
  margin: auto auto;
}

.column.large {
  display: flex;
  width: 630px;
  display: inline;
}

.column.medium {
  display: flex;
  width: 300px;
  display: inline;
}

.column.small {
  display: flex;
  width: 240px;
  display: inline;
}
